@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">Branch</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row" ng-controller="branchController">
        <input type="text" value="{{RomeoShebo}}" />
        <a href="/Branch/List">List </a>
       <a href="/Branch/AddBranch"> new branch</a>


        <div ng-view>
            asdasdadasd
        </div>
    </div>


  

