@{
    Layout = null;
}

<div class="row" >
    <div class="col-md-12">
        <table>
            <tr>
                <th>IdCity</th>
                <th>Name</th>
            </tr>
            <tr ng-repeat="branch in branches">
                <td> {{branch.address}} </td>
                <td> {{branch.name}} </td>

            </tr>
        </table>
    </div>   
</div>